/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2015, 2:04:07 AM
    Author     : hanjing
*/

#founder-hover {
    width:130px;
height:30px;
	background: url(images/founder/liujinquan.jpg);
        	display: block;

}

#founder-hover:hover {
width:130px;
height:30px;
	background: url(images/symbol/linkedin_button.png);
	display: block;
}