@charset "UTF-8";
@font-face {
    font-family: 'HelveticaNeueLTCom57Condensed';
    src: url("../fonts/helveticaneueltcom-cn.eot")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-cn.eot*/;
    src: url("../fonts/helveticaneueltcom-cn.svg#HelveticaNeueLTCom57Condensed")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-cn.svg#HelveticaNeueLTCom57Condensed*/ format('svg'),
		 url("../fonts/helveticaneueltcom-cn.eot")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-cn.eot*/ format('embedded-opentype'),
         url("../fonts/helveticaneueltcom-cn.woff")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-cn.woff*/ format('woff'),
         url("../fonts/helveticaneueltcom-cn.ttf")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-cn.ttf*/ format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLTCom45Light';
    src: url("../fonts/helveticaneueltcom-lt.eot")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-lt.eot*/;
    src: url("../fonts/helveticaneueltcom-lt.svg#HelveticaNeueLTCom45Light")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-lt.svg#HelveticaNeueLTCom45Light*/ format('svg'),
		 url("../fonts/helveticaneueltcom-lt.eot")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-lt.eot*/ format('embedded-opentype'),
         url("../fonts/helveticaneueltcom-lt.woff")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-lt.woff*/ format('woff'),
         url("../fonts/helveticaneueltcom-lt.ttf")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-lt.ttf*/ format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLTCom55Roman';
    src: url("../fonts/helveticaneueltcom-roman.eot")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-roman.eot*/;
    src: url("../fonts/helveticaneueltcom-roman.svg#HelveticaNeueLTCom55Roman")/*tpa=http://www.innovactionlab.org/templates/boxme/fonts/helveticaneueltcom-roman.svg#HelveticaNeueLTCom55Roman*/ format('svg'),
		 url('../fonts/helveticaneueltcom-roman.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltcom-roman.woff') format('woff'),
         url('../fonts/helveticaneueltcom-roman.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLTCom47LightCondensed';
    src: url('../fonts/helveticaneueltcom-ltcn.eot');
    src: url('../fonts/helveticaneueltcom-ltcn.svg#HelveticaNeueLTCom47LightCondensed') format('svg'),
		 url('../fonts/helveticaneueltcom-ltcn.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltcom-ltcn.woff') format('woff'),
         url('../fonts/helveticaneueltcom-ltcn.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLTCom75Bold';
    src: url('../fonts/helveticaneueltcom-bd.eot');
    src: url('../fonts/helveticaneueltcom-bd.svg#HelveticaNeueLTCom75Bold') format('svg'),
		 url('../fonts/helveticaneueltcom-bd.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltcom-bd.woff') format('woff'),
         url('../fonts/helveticaneueltcom-bd.ttf') format('truetype');
}